[submodule "packages/@biothings-explorer/bte-trapi"]
	path = packages/@biothings-explorer/bte-trapi
	url = https://github.com/ericz1803/BioThings_Explorer_TRAPI.git
	branch = main
	update = merge
[submodule "packages/@biothings-explorer/query_graph_handler"]
	path = packages/@biothings-explorer/query_graph_handler
	url = https://github.com/ericz1803/bte_trapi_query_graph_handler.git
	branch = main
	update = merge
[submodule "packages/biolink-model"]
	path = packages/biolink-model
	url = https://github.com/biothings/biolink-model.js.git
	branch = main
	update = merge
[submodule "packages/biomedical_id_resolver"]
	path = packages/biomedical_id_resolver
	url = https://github.com/biothings/biomedical_id_resolver.js.git
	branch = sri-resolver
	update = merge
[submodule "packages/@biothings-explorer/smartapi-kg"]
	path = packages/@biothings-explorer/smartapi-kg
	url = https://github.com/biothings/smartapi-kg.js.git
	branch = main
	update = merge
[submodule "packages/@biothings-explorer/call-apis"]
	path = packages/@biothings-explorer/call-apis
	url = https://github.com/ericz1803/call-apis.js.git
	branch = main
	update = merge
[submodule "packages/@biothings-explorer/api-response-transform"]
	path = packages/@biothings-explorer/api-response-transform
	url = https://github.com/ericz1803/api-respone-transform.js.git
	branch = main
	update = merge
